<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	  <LINK REL=StyleSheet HREF="inter.css" TYPE="text/css" MEDIA=screen>


    <title>ANDES WINE TOUR</title>
	<link rel="icon" type="image/png" href="img/uva.png">
  </head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">  HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/hoteles">HOTELES</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">RESTAURANTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RENT A CAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PUNTOS DE INTERÉS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CASA DE CAMBIO</a>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
  
    <input class="form-control mr-sm-2" type="search" placeholder="¿Buscás algo?" aria-label="Search">

    <button type="button" class="btn btn-info">Buscar</button>  

    <div class=btn-group><a href ="/registro"><button type="button" class="btn btn-outline-secondary">Registrate</button></a></div>

    <div class=btn-group><a href="/login"><button type="button" class="btn btn-outline-secondary">Ingresá</button></a></div>

  </form>
  </div>
</nav>

<!--CABECERA PRINCIPAL-->
<header class="cabecera">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center justify-content-center align-self-center">
              <h1 class="titulo">INTERCONTINENTAL MENDOZA</h1>
          </div>
      </div>
  </div>

</header>
<!--ICONOS SERVICIOS-->
<div class="container-servicios justify-content-center text-center">
<div class="row">
  <div class="col-md-12">
    <div class="iconos">
        <span>
          <img class="wifi" src="https://img.icons8.com/flat_round/64/000000/wifi.png">
          <img class="comida" src="https://img.icons8.com/cute-clipart/64/000000/meal.png">
          <img class="cafe" src="https://img.icons8.com/ios-filled/64/000000/cafe.png">
          <img class="servicio" src="https://img.icons8.com/pastel-glyph/80/000000/room-service--v1.png">
          <img class="pileta" src="https://img.icons8.com/cotton/64/000000/swimming-pool--v2.png">
          <img class="gimnasio" src="https://img.icons8.com/office/64/000000/stepper.png">
          <img class="puerta" src="https://img.icons8.com/ultraviolet/64/000000/hotel-upgrade.png">
          <img class="netflix" src="https://img.icons8.com/color/64/000000/netflix.png">

        </span>
    </div>
    
  </div>
</div>

</div>

<div class="card-deck justify-content-center text-center">
    <div class="card">
      <img src="img/hoteles/come.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Restaurantes</b></h5>
        <p class="card-text">Hay 2 restaurantes de lujo, que incluyen un restaurante en el piso 17 con vista a la ciudad, además de un bar en el vestíbulo y sala de vinos. También hay un spa y piscina cubierta, junto con gimnasio y un casino. Servicios de guardería y estacionamiento disponibles (de pago).</p>
        
      </div>
    </div>
    <div class="card">
      <img src="img/hyatt/piscina.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><b>Piscina</b></h5>
        <p class="card-text">Kaua Club & Spa cuenta con una piscina externa (17 metros de largo /10 metros de ancho),  temperada durante la temporada invernal, lo cual permite disfrutarla todo el año.</p>
        
      </div>
    </div>
    
    <div class="card">
        <img src="img/hyatt/perro.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Mascotas</b></h5>
          <p class="card-text">Es difícil dejar a tu mejor amigo en casa cuando viajas por largos períodos. En Intercontinental, puede disfrutar de una experiencia de estadía prolongada que admite mascotas.</p>
          
        </div>
      </div>
      <div class="card">
        <img src="img/hyatt/habitacion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><b>Habitación + Suites</b></h5>
          <p class="card-text">El hotel cuenta con 186 habitaciones y suites decoradas con estilo contemporáneo</p>
          
        </div>
      </div>
  </div>

   <!--MAPA-->
   <section>
    <div class="container-mapa" >
      <div class="row">
        <div class="col-md-12">
          <h1 class="ubicacion">UBICACIÓN</h1>
              <P> El alojamiento se encuentra junto al Mendoza Plaza Shopping, a ocho kilómetros del aeropuerto de la ciudad.
              </P>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.918728055456!2d-68.80065015799426!3d-32.90031698052536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0939708bfde3%3A0xafbb767e664a7226!2sInterContinental%20Mendoza%20Hotel!5e0!3m2!1ses-419!2sar!4v1583502548459!5m2!1ses-419!2sar" width="60%" height="400" frameborder="20" style="border:50;" allowfullscreen=""></iframe>
          </iframe>
          
        </div>
      </div>
    </div>
   
  </section>

  <div class="container">
      <div class="row">
          <div class="col">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
              
                <div class="container">
                    <div class="row">
                        <div class="col">
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect2">Puntuación</label>
                  <select multiple class="form-control" id="exampleFormControlSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Comentarios</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <br>

                <button type="submit" class="btn btn-secondary"> ¡Comentar! </button>

                <br>
              </form>
          </div>
      </div>
  </div>
 
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
