<!doctype html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">

  <!-- JQUERY -->
<script src ="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <LINK REL="stylesheet" HREF="style.css" TYPE="text/css" MEDIA="screen">



    <title>ANDES WINE TOUR</title>
  <link rel="icon" type="image/png" href="img/uva.png">
  </head>
  <body>

    <!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="/"> HOME </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/hoteles">HOTELES</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">RESTAURANTES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RENT A CAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PUNTOS DE INTERÉS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CASA DE CAMBIO</a>
      </li>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

    <input class="form-control mr-sm-2" type="search" placeholder="¿Buscás algo?" aria-label="Search">

    <button type="button" class="btn btn-info">Buscar</button>



  </form>
  </div>
</nav>



      <!-- formulario de registro -->

      <div class="modal-dialog text center">

        <div class="col-sm-8 main-section">
             <div class="modal-content">
              <div class="col-12 user-img">
                  <img src="img/perfil-02.png">
              </div>

              <form class="col-12" action= "registro" method="POST" enctype="multipart/form-data">
                <p th:if = "${error != null}" th:text="${error}" style = "color:red;"></p>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre de usuario" name="nombre" th:value="${nombre}"/>
                </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="apellido" name="apellido" th:value="${apellido}" />
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username" name="username" th:value="${username}"/>
                  </div>
                  <div class="form-group">
                      <input type="file" class="form-control" placeholder="Foto" name="foto"/>
                  </div>

                <div class="form-group"  id="contraseña-group">
                  <input type="password" class="form-control" placeholder="Contraseña" name="contraseña" />

                  <input type="password" class="form-control" placeholder="Repetir contraseña" name="contraseña1" />
                </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="E-mail" name="email" th:value="${email}"/>
                  </div>

                  <div class="dropdown">

                      <p>
                          <label for="sexo">Sexo</label>
                          <select name="sexo" id="sexo">
                              <option value="Mujer">Mujer</option>
                              <option value="Hombre">Hombre</option>
                          </select>
                      </p>




                      <p>
                          <label for="sexo">Sexo</label>
                          <select name="sexo" id="">
                              <option value="Paises">Argentina</option>
                              <option value="Paises">Chile</option>
                              <option value="Paises">Brasil</option>
                              <option value="Paises">Colombia</option>
                              <option value="Paises">Costa Rica</option>
                              <option value="Paises">Cuba</option>
                              <option value="Paises">Ecuador</option>
                              <option value="Paises">Guatemala</option>
                              <option value="Paises">México</option>
                              <option value="Paises">Paraguay</option>
                              <option value="Paises">Perú</option>
                              <option value="Paises">Uruguay</option>
                              <option value="Paises">Venezuela</option>
                          </select>
                      </p>
                  </div>


                          <div class="dropdown">

              <a class="btn btn-light dropdown-toggle" href="#" data-toggle="dropdown">
              País
              </a>
              <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Argentina</a>
              <a href="#" class="dropdown-item">Chile</a>
              <a href="#" class="dropdown-item">Brasil</a>
              <a href="#" class="dropdown-item">Colombia</a>
              <a href="#" class="dropdown-item">Costa Rica</a>
              <a href="#" class="dropdown-item">Cuba</a>
              <a href="#" class="dropdown-item">Ecuador</a>
              <a href="#" class="dropdown-item">Guatemala</a>
              <a href="#" class="dropdown-item">México</a>
              <a href="#" class="dropdown-item">Paraguay</a>
              <a href="#" class="dropdown-item">Perú</a>
              <a href="#" class="dropdown-item">Uruguay</a>
              <a href="#" class="dropdown-item">Venezuela</a>

              </div>
            </div>

               <br>

                <button type="submit" class="btn btn-secondary"> ¡Listo! </button>

                <br>



              </form>

              <div class ="col-12 forgot" >
                <a href="#" style="margin-left: 57px;"> <strong>Ya tengo una cuenta</strong>  </a>
                </div>
                <br>
          </div>
        </div>
      </div>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>